target/META-INF/mule-src/m_unit_doc/src/main/mule/m_unit_doc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1be09b8a-d8ce-4563-b771-d5dd3c8d0964" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Avet258741$" database="aug2019" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d7fa790d-28f7-499b-a29a-0e95a00853f0" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<flow name="m_unit_docFlow" doc:id="18934488-35c7-4198-9825-794b5c3ddf85" >
		<http:listener doc:name="Listener" doc:id="68e2d3dc-5a21-4b1b-9978-62f813c83f2a" config-ref="HTTP_Listener_config" path="/md"/>
		<db:select doc:name="Select" doc:id="a203f8bd-f152-4391-a63a-5af83ac39d44" config-ref="Database_Config">
			<db:sql >select * from customer where CID=:a</db:sql>
			<db:input-parameters ><![CDATA[#['a':attributes.queryParams.ID]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3608da0a-4b4c-473c-8a3b-7cc69ff388b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.FNAME]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1f6c1c01-0554-4635-b8be-032874e1909f" message="#['munit succes']"/>
	</flow>
</mule>
